### Importing Libraries

In [1]:
import pandas as pd
import numpy as np

### Reading csv file

In [2]:
# Read in the `clicks.csv` file as `abdata`
abdata = pd.read_csv('clicks.csv')
abdata.head()

    user_id group is_purchase
0  8e27bf9a     A          No
1  eb89e6f0     A          No
2  7119106a     A          No
3  e53781ff     A          No
4  02d48cf1     A         Yes

### Contingency table of the variables group and is_purchase

In [3]:
from scipy.stats import chi2_contingency
Xtab = pd.crosstab(abdata.group, abdata.is_purchase)
Xtab

is_purchase    No  Yes
group
A            1350  316
B            1483  183
C            1583   83

### Hypothesis to check if there is an association between group and is_purchase

In [4]:
chi2, pval, dof, expected = chi2_contingency(Xtab)
pval

2.4126213546684264e-35

### Number of visitors this week

In [5]:
num_visits = len(abdata)
num_visits

4998

### Number of sales needed to reach 1000 dollars for 0.99 dollars package

In [6]:
num_sales_needed_099 = 1000 / 0.99
num_sales_needed_099

1010.1010101010102

### Proportion of weekly visitors who would need to make a 0.99 dollars purchase in order to meet the 1000 dollars goal

In [7]:
p_sales_needed_099 = num_sales_needed_099 / num_visits
p_sales_needed_099

0.20210104243717691

### Number of sales needed to reach 1000 dollars for 1.99 dollars package

In [8]:
num_sales_needed_199 = 1000 / 1.99
num_sales_needed_199

502.51256281407035

### Proportion of weekly visitors who would need to make a 1.99 dollars purchase in order to meet the 1000 dollars goal

In [9]:
p_sales_needed_199 = num_sales_needed_199 / num_visits
print(p_sales_needed_199)

0.10054272965467594

### Number of sales needed to reach 1000 dollars for 4.99 dollars package

In [10]:
num_sales_needed_499 = 1000 / 4.99
num_sales_needed_499

200.40080160320642

### Proportion of weekly visitors who would need to make a 4.99 dollars purchase in order to meet the 1000 dollars goal

In [11]:
p_sales_needed_499 = num_sales_needed_499 / num_visits
p_sales_needed_499

0.040096198800161346

### The number of visitors in group A (the number of visitors who were offered the 0.99 dollars price point)

In [12]:
group_A = abdata[abdata.group == 'A']
group_A.head()

    user_id group is_purchase
0  8e27bf9a     A          No
1  eb89e6f0     A          No
2  7119106a     A          No
3  e53781ff     A          No
4  02d48cf1     A         Yes

In [13]:
samp_size_099 = len(abdata[abdata.group == 'A'])
samp_size_099

1666

### The number of visitors in Group A who made a purchase

In [14]:
sales_099 = len(group_A[group_A.is_purchase == 'Yes'])
sales_099

316

### The number of visitors in group B (the number of visitors who were offered the 1.99 dollars price point)

In [24]:
group_B = abdata[abdata.group == 'B']
group_B.head()

       user_id group is_purchase
1666  0b4e148d     B         Yes
1667  8b140cc2     B          No
1668  b3cef3bd     B          No
1669  574818c1     B          No
1670  3670df7f     B          No

In [15]:
samp_size_199 = len(abdata[abdata.group == 'B'])
samp_size_199

1666

### The number of visitors in Group B who made a purchase

In [25]:
sales_199 = len(group_B[group_B.is_purchase == 'Yes'])
sales_199

183

### The number of visitors in group C (the number of visitors who were offered the 4.99 dollars price point)

In [27]:
group_C = abdata[abdata.group == 'C']
group_C.head()

       user_id group is_purchase
3332  4fe51f85     C          No
3333  a71229f5     C          No
3334  5dae97f0     C          No
3335  71c06aee     C          No
3336  158355c8     C          No

In [26]:
samp_size_499 = len(abdata[abdata.group == 'C'])
samp_size_499

1666

### The number of visitors in Group C who made a purchase

In [20]:
sales_499 = len(group_C[group_C.is_purchase == 'Yes'])
sales_499

83

### Hypothesis to check if the percent of Group A (the 0.99 dollars price point) that purchased an upgrade package is significantly greater than p_sales_needed_099 (the percent of visitors who need to buy an upgrade package at 0.99 dollars in order to make our minimum revenue target of 1,000 dollars)

In [21]:
from scipy.stats import binom_test
pvalueA = binom_test(sales_099, samp_size_099, p_sales_needed_099, alternative = 'greater')
pvalueA

0.9028081076188985

### Hypothesis to check if the percent of Group B (the 1.99 dollars price point) that purchased an upgrade package is significantly greater than p_sales_needed_199 (the percent of visitors who need to buy an upgrade package at 1.99 dollars in order to make our minimum revenue target of 1,000 dollars)

In [22]:
pvalueB = binom_test(sales_199, samp_size_199, p_sales_needed_199, alternative = 'greater')
pvalueB

0.11184562623739903

### Hypothesis to check if the percent of Group C (the 4.99 dollars price point) that purchased an upgrade package is significantly greater than p_sales_needed_499 (the percent of visitors who need to buy an upgrade package at 4.99 dollars in order to make our minimum revenue target of 1,000 dollars)

In [28]:
pvalueC = binom_test(sales_499, samp_size_499, p_sales_needed_499, alternative = 'greater')
pvalueC

0.027944826659907135